/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: url("../img/background/bg.png") no-repeat 50% 130px #e8e8e8;
}

.content {
  max-width: 841px;
  padding: 168px 0 137px;
  margin: 0 auto;
}

.content-top {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 725px;
  color: #273d46;
}

.content-top__h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 15px 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.6;
}

.content-top__h1 {
  line-height: 50px;
  font-size: 36px;
}

.content__img {
  border: 10px solid white;
  -webkit-box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
          box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
  margin: 0 0 85px 0;
}
.content__img img {
  max-width: 100%;
}

.content-bottom {
  padding: 0 45px;
}

.content-bottom__text {
  line-height: 40px;
  font-size: 24px;
  color: #273d46;
  opacity: 0.8;
  margin: 0 0 51px 0;
}
.content-bottom__text p:not(:last-child) {
  margin-bottom: 40px;
}

.content-bottom__list {
  margin-bottom: 60px;
}
.content-bottom__list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: url("../img/icons/check-icon.png") no-repeat left;
  padding: 0 0 0 35px;
}
.content-bottom__list li:not(:last-child) {
  margin: 0 0 15px;
}
.content-bottom__list li:nth-child(1) {
  color: #273d46;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.content-bottom__list li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}
.content-bottom__list li:nth-child(3) {
  color: #273d46;
  font-weight: bold;
}
.content-bottom__list li:nth-child(4) {
  color: rgba(39, 61, 70, 0.3);
  text-decoration: line-through;
}

.content-bottom__link {
  display: inline-block;
  height: 45px;
  padding: 0 30px;
  border-radius: 23px;
  background-color: #80b7b3;
  -webkit-box-shadow: 0px 6px 40px rgba(128, 183, 179, 0.54);
          box-shadow: 0px 6px 40px rgba(128, 183, 179, 0.54);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
}
.content-bottom__link span {
  padding: 0 26px 0 0;
  background: url("../img/icons/btn-arrow.svg") no-repeat right;
}