@import "reset.scss";
$font-color: #273d46;
body {
   background: url('../img/background/bg.png') no-repeat 50% 130px #e8e8e8 ;
}
.content {
   max-width: 841px;
   padding: 168px 0 137px;
   margin: 0 auto;
}
.content-top {
   text-align: center;
   margin: 0 auto 60px;
   max-width: 725px;
   color: #273d46;
}
.content-top__h2 {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 15px 0;
   letter-spacing: .2em;
   text-transform: uppercase;
   opacity: .6;
}
.content-top__h1 {
   line-height: 50px;
   font-size: 36px;
}
.content__img {
   border: 10px solid white;  
   box-shadow: 0 15px 65px rgb(15, 16, 16, .15);
   margin: 0 0 85px 0;
   img {
      max-width: 100%;
   }
}
.content-bottom {
   padding: 0 45px;
}
// content-bottom__text margin-bottom ?
// везде где в тексте opacity можно оптимизировать выбрав фактический цвет текста в редакторе
.content-bottom__text {
   line-height: 40px;
   font-size: 24px;
   color: $font-color;
   opacity: .8;
   margin: 0 0 51px 0;
   p:not(:last-child) {
      margin-bottom: 40px;
   }
}
.content-bottom__list {
   margin-bottom: 60px;
   li{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      background: url('../img/icons/check-icon.png') no-repeat left;
      padding: 0 0 0 35px;
      &:not(:last-child){
         margin: 0 0 15px;
      }
      &:nth-child(1){
         color: $font-color;
         text-shadow: 0px 1px rgb(0, 0, 0, .3);
      }
      &:nth-child(2) {
         color: #80b7b3;
         font-style: italic;
      }
      &:nth-child(3) {
         color: $font-color;
         font-weight: bold;
      }
      &:nth-child(4) {
         color: rgb(39, 61, 70, .3);
         text-decoration: line-through;
      }
   }
}
.content-bottom__link {
   display: inline-block;
   height: 45px;
   padding: 0 30px;
   border-radius: 23px;
   background-color: #80b7b3;
   box-shadow: 0px 6px 40px rgba(128, 183, 179, 0.54);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 45px;
   letter-spacing: .2em;   
   text-transform: uppercase;
   color: white;
   span {
      padding: 0 26px 0 0;
      background: url('../img/icons/btn-arrow.svg') no-repeat right;
   }
}